server:
  port: 8080
  servlet:
    context-path: /

spring:
  application:
    name: weather-service
  cache:
    type: simple
    cache-names:
      - weather
  jackson:
    property-naming-strategy: SNAKE_CASE

weather:
  api:
    key: ${WEATHER_API_KEY:d2929e9483efc82c82c32ee7e02d563e}
    url: https://api.openweathermap.org/data/2.5/forecast

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.weather.service: DEBUG
    org.springframework.web: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"